@model IEnumerable<StartToBike.Models.Training>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h2>Training Management</h2>
            <p>@Html.ActionLink("Aanpassingen maken", "Admin", "Trainings")</p>
        </div>
        <div class="col-md-6">
            <h2>Lijst van beschikbare Trainingen</h2>
            <p>@Html.ActionLink("Lijst bekijken", "Catalog", "Trainings")</p>
        </div>
    </div>
</div>
