@model IEnumerable<StartToBike.Models.Training>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h2>Nieuwe Training aanmaken</h2>
            <p>@Html.ActionLink("Training Aanmaken", "Create", "Trainings")</p>
        </div>
        <div class="col-md-6">
            <h2>Lijst van beschikbare Trainingen</h2>
            <p>@Html.ActionLink("Training Deelnemen", "Catalog", "Trainings")</p>
        </div>
    </div>
</div>
