@model StartToBike.ViewModels.UsersPerTraining
@{
    ViewBag.Title = "JoinLandPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Training Details</h2>

<div>
    <h4>Training "@Html.DisplayFor(model => model.Training.Title)"</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Training.Title)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Training.TrainingLevel)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Training.TrainingLevel)
        </dt>
    </dl>
</div>

<h3>Dit zijn de Tours van deze week:</h3>
<div>
    <dl>
        <dt>
            <p>Tour 1:</p>
            <p>Rondje door Amsterdam, 15 KM</p>
        </dt>

        <dd>
            <p>Tour 2:</p>
            <p>Rennen in het s'avondsbos, 5 KM</p>
        </dd>
    </dl>
</div>