@{
    ViewBag.Title = "Home Page";
}

<center>
    @* opening text, shows username and intro text *@
    <div class="jumbotron">
        <h1>BIKE&RIDE</h1>
        <h2>Goed om je te ziet, @HttpContext.Current.User.Identity.Name</h2>
        <p> Bekijk hier hoe je er deze week voor staat, succes! Met de onderstaande knop kun je routes bekijken die je kunnen helpen met trainene en het verbeteren van je resultaten</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Bekijk routes &raquo;</a></p>
    </div>
    @* shows infocontainers with progress into info-box *@
    <div class="info-box">
        <div class="info-container">
            <h2>Vooruitgang</h2>
            <p>
                Je hebt deze week een flink getraind! Meer dan vorige week. Je bent goed bezig, maar let op
                dat je niet te veel traint! Dit kan een negatief resultaat hebben op de lange duur.
            </p>
            <img id="progress-img" src="~/img/progress.png" alt="prgress" />
        </div>

        <div class="info-container">
            <h2>Prestaties</h2>
            <h4>
                Welke afstand heb jij deze week afgelegd?
            </h4>
            <p>56 KM</p>
            <br />
            <h4>
                Hoeveel hoogtemeters heb je deze week behaalt?
            </h4>
            <p>638 HM</p>

            <br />
            <h4>
                Is dit meer dan vorige week?
            </h4>
            <p>Veel meer</p>
            @* Textbox with km input from performance *@
        </div>

        <div class="info-container">
            <h2>Who's the best?'</h2>
            <p>
                Je bent lekker bezig, maar maatje Niels heeft meer quests voltooid. Haal je hem deze week in, of ga je voor de revange volgende week?
            </p>
            @* Textbox with performance from friends *@
        </div>

        <div class="info-container">
            <h2>Kilometers</h2>
            <p>
                Je hebt deze week een flink aantal kilomters afgelegd! Meer dan vorige week. Je bent goed bezig, maar let op
                dat je niet te veel traint! Dit kan een negatief resultaat hebben op de lange duur.
            </p>
        </div>
    </div>
</center>