@{
    ViewBag.Title = "Home Page";
}

<center>
    @* opening text, shows username and intro text *@
    <div class="jumbotron">
        <h1>BIKE&RIDE</h1>
        <h2>Goed om je te ziet, @HttpContext.Current.User.Identity.Name</h2>
        <p> Bekijk hier hoe je er deze week voor staat, succes! Met de onderstaande knop kun je routes bekijken die je kunnen helpen met trainene en het verbeteren van je resultaten</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Bekijk routes &raquo;</a></p>
    </div>
    @* shows infocontainers with progress into info-box *@
    <div class="info-box">
        <div class="info-container">
            <h2>Vooruitgang</h2>
            <asp:TextBox id="VooruitgangTxt" runat="server">
                @*Je hebt deze week een flink getraind! Meer dan vorige week. Je bent goed bezig, maar let op
                dat je niet te veel traint! Dit kan een negatief resultaat hebben op de lange duur.*@
            </asp:TextBox>
        </div>
        
        <div class="info-container">
            <h2>Kilometers</h2>
            <p>
                Welke afstand heb jij deze week afgelegd?
            </p>
        </div>

        <div class="info-container">
            <h2>Who's the best?'</h2>
            <p>
                Je bent lekker bezig, maar maatje Niels heeft meer quests voltooid. Haal je hem deze week in, of ga je voor de revange volgende week?
            </p>
        </div>

        <div class="info-container">
            <h2>Kilometers</h2>
            <p>
                Je hebt deze week een flink aantal kilomters afgelegd! Meer dan vorige week. Je bent goed bezig, maar let op
                dat je niet te veel traint! Dit kan een negatief resultaat hebben op de lange duur.
            </p>
        </div>
    </div>
</center>