@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>StartToBike</h1>
    <h2>Goed om je te ziet, @HttpContext.Current.User.Identity.Name</h2>
    <p class="lead">Bekijk hier hoe je er deze week voor staat, succes! Met de onderstaande knop kun je routes bekijken die je kunnen helpen met trainene en het verbeteren van je resultaten</p>
    <p class="btn btn-primary btn-lg">@Html.ActionLink("Bekijk routes >>", "Index", "Tours")</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Vooruitgang</h2>
        <p>
            Je hebt deze week een flink getraind! Meer dan vorige week. Je bent goed bezig, maar let op
            dat je niet te veel traint! Dit kan een negatief resultaat hebben op de lange duur.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Kilometers</h2>
        <p>
            Welke afstand heb jij deze week afgelegd?
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Who's the best?'</h2>
        <p>
            Je bent lekker bezig, maar maatje Niels heeft meer quests voltooid. Haal je hem deze week in, of ga je voor de revange volgende week?
        </p>
    </div>
    <div class="col-md-6">
        <h2>Kilometers</h2>
        <p>
            Je hebt deze week een flink aantal kilomters afgelegd! Meer dan vorige week. Je bent goed bezig, maar let op
            dat je niet te veel traint! Dit kan een negatief resultaat hebben op de lange duur.
        </p>
    </div>
</div>