@model StartToBike.Models.AccountCatalog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountCatalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountRole)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
